name: editorconfig-checker

on:
  push:
    branches:
      # Run workflow on every push
      - '**'        # matches every branch

  pull_request:
    branches:
      # Run workflow on every push
      - '**'        # matches every branch

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
    build:
      name: editorconfig-checker
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
        - uses: editorconfig-checker/action-editorconfig-checker@main
        - run: editorconfig-checker
